.*.cmd
.tmp_versions/
*~
Module.markers
Module.symvers
*.ko
*.o
*.mod.c
modules.order
examples/cipher
examples/hmac
examples/ncr
examples/ncr-direct
examples/pk
examples/speed
releases
scripts
userspace/ncr-setkey
version.h
tags
